@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #254159; /* indigo */
  --color-secondary: #d5d9dc; /* silver */
  --color-accent: #e30e1e; /* red */
}
* {
  font-family: Outfit;
}
